<div class="flex flex-col gap-4">
  <div class="shadow p-4 rounded-sm">
    学習時間とかのグラフ入れたい
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="shadow p-4 rounded-sm">
      <div class="font-bold">新着アウトプット</div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
    </div>
    <div class="shadow p-4 rounded-sm">
      <div class="font-bold">新着相談</div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= button_to "Sign out", destroy_user_session_path, method: :delete %>
