<div class="flex flex-col gap-4">
  <div class="shadow p-4 rounded-sm">
    学習時間とかのグラフ入れたい
  </div>

  <div class="grid sm:grid-cols-2 gap-4">
    <div class="shadow p-4 rounded-sm">
      <div class="font-bold mb-2">新着アウトプット</div>
      <%= render @entries %>
      <div class="flex justify-end items-center">
        <%= link_to entries_path, class: "text-sm font-bold flex items-center gap-1" do %>
          <div>もっと見る</div>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
          </svg>
        <% end %>
      </div>
    </div>
    <div class="shadow p-4 rounded-sm">
      <div class="font-bold">新着相談</div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
      <div class="mb-2 py-1 px-2 border-b">
        <div class="text-sm">ここにタイトルが入ります</div>
        <div class="flex gap-1">
          <div class="text-xs font-medium">@username</div>
          <div class="text-slate-500 text-xs">2024/08/02</div>
        </div>
      </div>
    </div>
  </div>
</div>
