<div class="flex justify-between items-center mb-4 pb-2 border-b">
  <div>
    <div class="font-bold">
      <%= feed.title %>
    </div>
    <%= link_to feed.url, feed.url, class: "text-sm" %>
  </div>
  <%= link_to "削除", feed_path(feed), class: "btn btn-red", data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } %>
</div>
