<%= content_for :settings_block do %>
  <h2 class="font-bold text-lg">RSSフィード<h2>
  <p class="text-xs text-slate-500 mb-4">登録後「更新」ボタンを押すことで記事を取得できます。</p>

  <% if @feeds.empty? %>
    <div class="text-slate-400 text-sm">登録中のRSSフィードはありません。</div>
  <% else %>
    <div>
      <%= render @feeds %>
    </div>
  <% end %>
  <div class="flex justify-end">
    <%= link_to "登録する", new_feed_path, class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "shared/settings_block" %>
