<nav class="sticky top-0 z-20 w-full bg-white shadow mb-4">
  <div class="flex items-center justify-between md:justify-end mx-auto p-4">
    <button class="md:hidden" data-controller="sidebar" data-action="sidebar#open">
      <div class="hover:cursor-pointer text-gray-500 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
    </button>
    <div class="w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col">
        <li>
          <div data-controller="dropdown" class="relative">
            <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="flex items-center toggle-user-icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </button>
            <div
              data-dropdown-target="menu"
              class="hidden transition transform origin-top-right absolute right-0 py-2 min-w-44 bg-white rounded shadow text-gray-500 text-sm"
              data-transition-enter-from="opacity-0 scale-95"
              data-transition-enter-to="opacity-100 scale-100"
              data-transition-leave-from="opacity-100 scale-100"
              data-transition-leave-to="opacity-0 scale-95">
              <div class="py-1 px-2">
                <%= link_to "プロフィール", "#" %>
              </div>
              <div class="py-1 px-2">
                <%= link_to "設定", "#" %>
              </div>
              <hr class="my-2 h-px border-0 bg-gray-300">
              <div class="py-1 px-2">
                <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
