<nav class="sticky top-0 z-0 w-full bg-white shadow mb-4">
  <div class="flex items-center p-4">
    <button class="md:hidden" data-controller="sidebar" data-action="sidebar#open">
      <div class="hover:cursor-pointer text-gray-500 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
    </button>
    aaa
  </div>
</nav>