
<div
  id="sidebar-background"
  class="fixed inset-0 bg-slate-900 bg-opacity-30 z-10 md:hidden bg-opacity-30 opacity-0 pointer-events-none"
  data-controller="sidebar"
  data-action="click->sidebar#close"
>
</div>
<div id="sidebar" class="absolute left-0 top-0 z-20 md:static top-0 left-0 bg-primary p-4 w-[240px] h-screen transition-transform -translate-x-full md:translate-x-0">
  <div class="text-white font-bold text-xl">
    Com App
  </div>
</div>
